<div class="jumbotron">

<div class="input-group">
    <input type="text" class="form-control" #itemtitle>
    <div class="input-group-addon hover-cursor" (click)="onAdd(itemtitle)">
        <i class="fa fa-plus-circle fa-2x"></i>
    </div>
    
</div>
<span *ngIf="isEmpty" class="alert alert-danger">Please Enter Todo</span>

<div style="margin:5px 0px;">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of todoListArray">
            <span class="hover-cursor" [class.text-success]="item.isChecked" (click)="alterCheck(item.$key,item.isChecked)">
                <i class="fa fa-lg" [ngClass]="item.isChecked?'fa-check-circle-o':'fa-circle-thin'"></i>
            </span>
            {{item.title}}
            <span class="hover-cursor text-danger pull-right" (click)="onDelete(item.$key)">
                <i class="fa fa-trash-o fap-lg"></i>
            </span>
        </li>
    </ul>

</div>

</div>
